@model IEnumerable<JC.Models.ORDERDETAIL>

<table class="table  table-bordered">
    <thead>
        <tr>
            <th>
                客户商铺名称
            </th>
            <th>
                菜品名称
            </th>
            <th>
                菜品描述
            </th>
            <th>
                大包装单位
            </th>
            <th>
                小包装单位
            </th>
            <th>
                分装量
            </th>
            <th>
                菜品类别名称
            </th>
            <th>
                仓储名称
            </th>
            <th>
                区域
            </th>
            <th>
                大包装单位
            </th>
            <th>
                小包装单位
            </th>
            <th>
                购买量
            </th>
            <th>
                总计
            </th>
        </tr>
    </thead>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CUSTOMERNAME
            </td>
            <td>
                @item.VEGETABLESNAME
            </td>
            <td>
                @item.VEGETABLESDES
            </td>
            <td>
                @item.BIGUNIT
            </td>
            <td>
                @item.SMALLUNIT
            </td>
            <td>
                @item.PACKRULE
            </td>
            <td>
                @item.TYPENAME
            </td>
            <td>
                @item.STORENAME
            </td>
            <td>
                @item.AREANAME
            </td>
            <td>
                @item.BIGPRICE
            </td>
            <td>
                @item.SMALLPRICE
            </td>
            <td>
                @item.BUYNUM
            </td>
            <td>
                @item.TOTALCASH
            </td>
        </tr>
    }

</table>
