@model IEnumerable<JC.Models.STOREINFO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STORENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOREID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AREANAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AREAID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STORENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOREID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AREANAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AREAID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GUID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
